<style>
body{
  background-color: Lavender ;
  text-align: center;
}
p{
  
  font-size: 25px;
  text-align: center;
}
button {
  background-color: red;
  color: white;
  padding: 7px 7px;
  margin: 6px 0;
  border: none;
  cursor: pointer;
  width: 55%;
}

button:hover {
  opacity: 0.8;
}
 .login-container {
    width: 300px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    padding: 20px;
    margin: 100px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .login-container h1 {
    text-align: center;
    color: rgb(76, 175, 80); /* Match the background color or choose a complementary color */
  }

</style>
<div class="login-container">
<img src="https://tse2.mm.bing.net/th?id=OIP.fgldvHNAsqglU4fye1OVXgHaHa&pid=Api&P=0&h=180">

<b>
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <button>Sign up</button>
  </div>
<% end %>
</b>
<%= render "devise/shared/links" %>
</div>