<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 8px 8px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #00ff7a;
}

.active {
  background-color: #ff1493;
}
</style>
</head>
<body>

<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
  <li><%= link_to "logout", destroy_user_session_path, data: {turbo_method: :delete, turbo_confirm:  "are you sure?"}%></li>


</ul>

</body>
</html>




<style>
body {
  background-image: url('https://designpickle-resources.s3.us-east-2.amazonaws.com/2020/Zoom+Backgrounds/April/20_DesignPickle_Zoom_Background-4.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; 
  text-align: center;
  }
</style>


<h1 style="font-size:60px;">Todos App</h1>
<h1>Welcome !!!! Here you can add your tasks whatever you want to do<h1>
<b>

<ol>
  <% @todos.each do |todo| %>
    <li>
      <%= todo.title %> - <%= todo.description %> 
      <% if todo.completed %>
        <span style="color: green;"> --Task Completed</span>  <button><%= link_to "Remove item", todo, data: {turbo_method: :delete,turbo_confirm: "Are you sure?"} %></button>
      <% else %>
        <span style="color: red;"> --Task Incomplete</span>  <button><%= link_to "Remove item", todo, data: {turbo_method: :delete,turbo_confirm: "Are you sure?"} %></button>
      <% end %>
    </li>
  <% end %>
</ol>
<style>
button {
  background-color: magenta;
  color: black;
  padding: 5px 5px;
  margin: 5px 0;
  border: none;
  cursor: pointer;
  width: 10%;
}

button:hover {
  opacity: 0.8;
}
new_button {
  background-color: yellow;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
</style>
<new_button><%= link_to 'Add Task', new_todo_path %></new_button>
</b>
